body {
	font-family: 'open sans';
	background: no-repeat center center fixed;
}

h1, h2 {
	text-transform: uppercase;
	color: rgb(159, 207, 240);
}

#info {
	font-size: 1.3rem;
}

label {
	font-size: 1.1rem;
}

input {
	background-color: rgba(159, 208, 240, 0.384);
	border: none;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	color: aliceblue;
	outline: none;
	padding-left: 15px;
}

#link {
	color: rgb(100, 237, 255);
}

#submit {
	background-color: rgba(159, 208, 240, 0.685);
	color: white;
	transition: 0.3s;
	border: none;
}

#submit:hover {
	transition: 0.3s;
	box-shadow: 0px 0px 4px rgb(229, 232, 235);
	background-color: rgb(218, 224, 230);
	color: rgb(0, 140, 255);
}

.custom-text {
	color: rgb(180, 219, 245);
}

.custom-text:hover {
	color: rgb(180, 219, 245);
}

.blue-gradient {
	background-image: linear-gradient(135deg, rgb(67, 190, 228), #4183f5);
}

.green-gradient {
	background-image: linear-gradient(135deg, #41c77d, #19d363);
}

.pink-gradient {
	background-image: linear-gradient(135deg, #f830ab, #c17afc);
}

.teal-gradient {
	background-image: linear-gradient(135deg, #84fab0, #8fd3f4);
}

.nevy-gradient {
	background-image: linear-gradient(135deg, #330867, #3095d0);
}